@media screen and (max-width: 425px) {
  .container {
    left: 20%;
  }
}
@media screen and (max-width: 375px) {
  .container {
    left: 15%;
  }
}
@media screen and (max-width: 320px) {
  .container {
    left: 5%;
  }
}
